#draggable {
    width: 250px;
    height: 150px;
    padding: 0.5em;
    background-color: #000;
}
div.app_title{
    width:100%;
    margin:4px;
}

div.app_title h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0px 0px 4px;
}
div.app_content{
    color:#fff;
}

/** Text Styles **/
.defaultText {
    font-size: 14px;
    font-weight: 200;
}
.mediumText {
    font-size: 16px;
    font-weight: 200;
}
.smallSubText{
    font-size: 12px;
    font-weight: 200;
}
.tinySubText{
    font-size: 8px;
    font-weight: 200;
}
.largeText{
    font-size: 20px;
    font-weight: 200;
}

.bold{
    font-weight: 400;
}

.shadowed{
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/** appContainer Styles **/
.ui-widget-content{
    background: rgba(0,0,0,0.7) !important;
    padding: 6px;
    border-radius: 6px;
    border:0px;
    backdrop-filter: blur(3px);
    backdrop-filter: ;
}

/** DEFAULT MARGINS **/
.mtD{
    margin-top: 8px;
}
.mbD{
    margin-bottom: 8px;
}
.mrD{
    margin-right: 8px;
}
.mlD{
    margin-left: 8px;
}

/** HELPERS */

.center{
    text-align: center;
}
.right{
    text-align: right;
}