#Stocks, #stockItems{
    background: #000 !important;
    border:0px;
}

.stockItem{
    width: 100%;
    border-bottom: 1px solid #303030;
    padding: 3px;
    margin: 5px;
    line-height: 15px;
}

.stockSymbol{
    float: left;
    text-transform: uppercase;
    font-weight: 400px;
}

.stockItemTable{
    width: 100%;
}

.stockCurrentPrice{
    text-align: right;
    font-weight: 200;
}

.stockChangePercent{
    text-align: right;
    font-weight: 200;
}
.stockChangePercentYTD{
    text-align: right;
    font-weight: 200;
}

.stockChangePercent span, .stockChangePercentYTD span{
    border-radius: 3px;
    padding: 4px;
    color: #fff;
    display: inline-block;
}

.stockChangePercent span.negative, .stockChangePercentYTD span.negative{
    background-color: #D41639;
}

.stockChangePercent span.positive, .stockChangePercentYTD span.positive{
    background-color: #4DB48E;
}