#Stocks, #stockItems{
}

.stockItem{
    width: 100%;
    border-bottom: 1px solid #303030;
    padding: 3px;
    margin: 5px;
    line-height: 15px;
}

.stockSymbol {
    float: left;
    text-transform: uppercase;
    font-weight: 400;
}

.stockItemTable{
    width: 100%;
}

.stockCurrentPrice{
    text-align: right;
    font-weight: 200;
}

.stockChangePercent{
    text-align: right;
    font-weight: 200;
}
.stockChangePercentYTD{
    text-align: right;
    font-weight: 200;
}

.stockChangePercent span, .stockChangePercentYTD span{
    border-radius: 3px;
    padding: 4px;
    color: #fff;
    display: inline-block;
}

.stockChangePercent span.negative, .stockChangePercentYTD span.negative{
    color:#D41639;
}

.stockChangePercent span.positive, .stockChangePercentYTD span.positive{
    color: #4DB48E;
}

/* STOCK ITEM DATA */

.stockItemGraphData, .stockItemDailyData{
    width: 100%;
}
.stockItemDailyDataCol1, .stockItemDailyDataCol2, .stockItemDailyDataCol3{
    float:left;
    width:31%;
}
.stockItemDailyDataCol1, .stockItemDailyDataCol2{
    margin: 0px 5px 0px 0px;
}

.stockItemDataSource{
    position: absolute;
    bottom: 6px;
    right: 6px;
}
