.blackout {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    z-index: 10000000;
}

.blackoutButton{
    z-index: 1000000;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 150px;
    height: 150px;
}