.groups{
    float: left;
    width: 15%;
    height: 100%;
}
.actionButtons{
    float: left;
    width: 85%;
}
.groupItems {
    padding: 0px;
    margin-top: 5px;
}

.groupItems li{
    display: block;
    border-radius: 6px;
    background-color: #fff;
    width: 70px;
    height: 70px;
    color: #000;
    margin-top: 5px;
    font-size: 56px;
    text-align:center;
}

.sceneTile{
    border-radius: 6px;
    background-color: #fff;
    width: 150px;
    height: 120px;
    float: left;
    margin: 5px;
}

.sceneTileHighlighted{
    background-color: #D8D8D8;
}

/* Button Content */
.sceneGroup{
    font-weight: bold;
    color: #000;
    position: relative;
    top: 20px;
    left: 10px;
}

.sceneAction{
    font-weight: bold;
    color: #595959;
    position: relative;
    top: 25px;
    left: 10px;
}
 .sceneIcon{
     color:#000 !important;
     font-size: 37px;
     position: relative;
     top: 5px;
     left: 10px;
 }